# Created by .ignore support plugin (hsz.mobi)

Files Excluded
*.xml
*.iml
*.phantomjsdriver.log


Files Included
!pom.xml
!sjawebsite.iml

Folders Excluded
.idea/*
target/*
.idea/workspace.xml/*
!/.git/info/exclude
!/.gitignore

